.tictactoe-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    background: #0f172a;
    color: white;
    gap: 10px;
    padding: 10px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid var(--color-border);
    padding: 16px;
}

.game-container>* {
    width: 45vh;
    text-align: left;
}

.tree-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    overflow-y: auto;
}

.tree-container>* {
    width: 100%;
    text-align: left;
}

.tree-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.tree-placeholder {
    border: 1px dashed var(--color-border);
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    color: var(--color-muted);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--color-border) 1px solid;
    margin-bottom: 16px;
}